<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Pages</title>

    <link rel="stylesheet" href="/public/styles.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#3697dc" />

    <meta name="og:title" content="Pages" />
    <meta name="og:type" content="website" />
  </head>
  <body>
    <div class="wrapper">
      <main>
        <h1>Pages</h1>

        <h2>Websites</h2>
        <ul>
          {{range $website := .Websites}}
          <ul>
            <a href="/site/{{$website.Name}}"
              >{{$website.Name}} - {{$website.LastChange}}</a
            >
          </ul>
          {{end}}
        </ul>
      </main>
    </div>
  </body>
</html>
