@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Titillium+Web:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  --accentuation-color: #f7dc6f;
  --background-color: #fff8e1;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #273746;
    --text-color: #fdfefe;
    --accentuation-color: #fff8e1;
  }
}

body.dark {
  --background-color: #273746;
  --text-color: #fdfefe;
  --accentuation-color: #fff8e1;
}

body.light {
  --background-color: #fff8e1;
  --text-color: #000000;
  --accentuation-color: #f7dc6f;
}

body {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: var(--background-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

.wrapper {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.alert {
  --alert-color: var(--accentuation-color);
  --backgroud-color: #ffffff00;
  background-color: var(--backgroud-color);
  max-width: 100%;
  border: 1px solid var(--alert-color);
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--text-color);
}

.alert.important {
  --alert-color: #e74c3c;
  --backgroud-color: #e74c3c20;
}

.alert.gold {
  --alert-color: #f1c40f;
  --backgroud-color: #f1c40f20;
}
